*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.form{
    max-width: 600px;
    margin: 50px auto 0px auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.beside{
    font-size: 20px;
}