*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.form{
    max-width: 600px;
    margin: 50px auto 0px auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.beside{
    font-size: 20px;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 25px;
}

.data{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 17px;
    margin-bottom: 5px;
}

input,textarea,select{
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid rgb(135, 131, 131);
    border-radius: 5px;
}

input:focus{
    outline-color: rgb(91, 69, 69)
}

.btn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

button{
    color: whitesmoke;
    background-color: red;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in;
}

button:hover{
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.add{
    grid-column: 1/span 2;
}

.add textarea{
    width: 100%;
}